body {
    padding: 0;
    text-align: center;
    display:block;
    background-image: url("../images/Background/red-background-display-your-product.jpg");
  }

  a {
    margin-left: 70px;
    color: rgb(118, 25, 25) ;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Verdana";
    align-items: center;
    color: #fff;
  }
  
  .logo-img {
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  
  body button {
    font-size: 30px;
    font-family: 'Bahnschrift SemiBold';
    text-shadow: -1px 0 rgb(171, 28, 28), 0 1px rgb(171, 28, 28), 1px 0 black, 0 -1px black;
    background-color: black;
    color: rgb(99, 91, 91);
    padding: 10px 20px;
    border: 2;
    border-color: rgb(171, 28, 28);
    box-shadow: 0;
    border-radius: 20px;
    margin-bottom: 20px;
    
  }
  
  